/* App.css */
.app-container {
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  display: flex;
  align-items: center;
  background-color: #4a2c0b;
  padding: 10px;
  border-radius: 0 0 20px 20px;
}

/*Ajustamos los logos e imagenes*/
.book-icon {
  width: 79px;  
  height: 54px; 
}

.edo-header {
  width: 136px;  
  height: 136px; 
}

.edo-footer {
  width: 136px;  
  height: 136px; 
}

.instagram-icono, .facebook-icono {
  width: 32px;  
  height: 32px; 
  margin-right: 10px;
}

/**/
.nav {
  display: flex;
  align-items: center;
}

.nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  font-size: 23px;
}

.reservas-button {
  background-color: #ffd700;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
}

.header-line {
  border: none;          
  height: 2px;           
  background-color: #828282;  
  width: 100%;           
  margin-top: 10px;      
}


.main {
  max-width: 600px;
  margin: 20px auto;
  background-color: #1a1a1a;
  padding: 20px;
  border-radius: 10px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.dropdown, .input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.section-label {
  display: block;
  margin: 10px 0 5px;
}

.dates-container, .times-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 20px;
}

.date-button, .time-button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #000;
}

.date-button[disabled], .time-button[disabled] {
  cursor: not-allowed;
}

.gray {
  background-color: #666;
}

.yellow {
  background-color: #ffd700;
}

.yellow:hover {
  background-color: #f00;
}

.selected {
  border: 2px solid #fff;
}

.note {
  font-size: 12px;
  color: #ccc;
  margin: 10px 0;
}

.personal-data {
  display: flex;
  gap: 10px;
}

.half {
  width: 50%;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.checkbox-container label {
  margin-left: 10px;
  flex: 1;
}

.reservar-button {
  background-color: #ffd700;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 20px auto 0;
}

.footer {
  background-color: #000;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #333;
  margin-top: auto;
}


.footer-contact, .footer-links {
  display: flex;
  flex-direction: column;
}

.footer-links a {
  color: #ffd700;
  text-decoration: none;
  margin-bottom: 5px;
}